@model Client

<body>
    <form method="post" asp-action="Delete">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Delete Client</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label asp-for="Passport"></label>
                <input asp-for="Passport" disabled class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="DYears"></label>
                <input asp-for="DYears" disabled class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Rating"></label>
                <input asp-for="Rating" disabled class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="HomeAddress"></label>
                <input asp-for="HomeAddress" disabled class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Telephone"></label>
                <input asp-for="Telephone" disabled class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
            <a asp-controller="Client" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to List
            </a>
        </div>
    </form>
</body>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
