@{
    ViewData["Title"] = "Home Page";
}

<body>
    <main role="main">
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing" style="margin-top:50px">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="https://i.postimg.cc/XJTGzR8M/money.png" alt="Generic placeholder image" width="140" height="140">
                    <h2>No hidden charges</h2>
                    <p></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="https://i.postimg.cc/VNkCrB6h/image.png" alt="Generic placeholder image" width="140" height="140">
                    <h2>Take your car anytime</h2>
                    <p></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="https://i.postimg.cc/qvfhwH72/car.png" alt="Generic placeholder image" width="140" height="140">
                    <h2>Only new cars</h2>
                    <p></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading"> Rental Car Types </h2>
                    <p class="lead">From compact cars to spacious SUVs and vans, we offer a large range of reliable vehicles to suit your needs.</p>
                    <a class="btn btn-secondary" href="/ModelCar">View details »</a>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                         src="https://i.postimg.cc/0jqFZNhL/car-types.png" data-holder-rendered="true" style="width: 500px; height: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading"> Belarus Rental Locations </h2>
                    <p class="lead">Enterprise Rent-A-Car has thousands of airport and neighborhood locations throughout the Belarus.</p>
                </div>

                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;"
                         src="https://i.postimg.cc/tJZQvfgx/belarus.png" data-holder-rendered="true">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading"> Car Rental Deals </h2>
                    <p class="lead">Find out about our latest offers to drive away with a great car rental deal from any of our global locations.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                         src="https://i.postimg.cc/rp1pQDHk/family.png" data-holder-rendered="true" style="width: 500px; height: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>© 2022 Car To Moon, Inc. · <a href="/Home/Privacy">Privacy</a></p>
        </footer>
    </main>
</body>
