@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Privacy</h2>
        </div>
    </div>
</div>

<div class="article-detail-container col">
    <p>We understand that booking online requires significant trust on your part. We're committed to protecting and securing all personal information you give us.</p>
    <p>
        Our
        <a style="text-decoration: none"><strong>Privacy Policy</strong></a>    @*Here we can add Privacy Policy url address*@
        includes information about:
    </p>
    <ul>
        <li>What information we collect and why.</li>
        <li>How we use that information.</li>
        <li>When and why we share your information with other organizations.</li>
        <li>The rights you have and ways you can control your information.</li>
    </ul>
    <hr>

</div>

<div class="article-detail-container col">
    <p>Car To Moon is committed to protecting and securing your personal information. We explain how we do this in our Privacy and Cookies policies.</p>
    <p>In our <strong>Privacy Policy</strong>, we let you know:</p> <ul>
        <li>What information we collect and why.</li>
        <li>How we use that information.</li>
        <li>When and why we share your information with other organizations.</li>
        <li>The rights you have and ways you can control your information.</li>
    </ul>
    <p>You can read our Privacy Policy in full <a style="text-decoration: none"><strong>here</strong></a>.</p>
    <p>Some of our websites have a separate Cookies Policy. In our <strong>Cookies Policy</strong>, we let you know:</p>
    <ul>
        <li>What cookies are.</li>
        <li>How we use them for analytics.</li>
        <li>How they help us create personalized content to improve your experience on our site.</li>
        <li>How they help serve you with ads that may be of interest.</li>
    </ul>
    <p>
        You can read our Cookies Policy in full
        <a style="text-decoration: none"><strong>here</strong></a>.
    </p>
</div>
