@using WebCarRentalSystem.ViewModels
@model CreateAccidentViewModel

<body>
    <form method="post" asp-action="Create">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Create Accident</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label>Date Contract</label>
                <select asp-for="ContractId" class="form-select"
                        asp-items="@(new SelectList(Model.Contract, "Id", "DateContract"))">
                    <option value="" disabled selected>Select the date</option>
                </select>
                <span asp-validation-for="ContractId" class="text-danger d-block"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Collisions"></label>
                <input asp-for="Collisions" class="form-control" placeholder="Collisions" />
                <span asp-validation-for="Collisions" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Result"></label>
                <input asp-for="Result" class="form-control" placeholder="Result" />
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
            <a asp-controller="Accident" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to List
            </a>
        </div>
    </form>
</body>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
