@using WebCarRentalSystem.ViewModels
@model CreateCarViewModel

<body>
    <form method="post" asp-action="Create">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Create Car</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label>Model</label>
                <select asp-for="ModelCarId" class="form-select"
                        asp-items="@(new SelectList(Model.ModelCar, "Id", "Model"))">
                    <option value="" disabled selected>Choose a Model</option>
                </select>
                <span asp-validation-for="ModelCarId" class="text-danger d-block"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Color"></label>
                <input asp-for="Color" class="form-control" placeholder="Color" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Rented"></label>
                <select asp-for="Rented" class="form-select">
                    <option value="" disabled selected>Choose Status</option>
                    <option>True</option>
                    <option>False</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="CarRegNumber"></label>
                <input asp-for="CarRegNumber" class="form-control" placeholder="AB01AB1234" />
                <span asp-validation-for="CarRegNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" placeholder="City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
            <a asp-controller="Car" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to List
            </a>
        </div>
    </form>
</body>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
