@using WebCarRentalSystem.ViewModels
@model EditContractViewModel

<body>
    <form method="post" asp-action="Edit">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Edit Contract</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label asp-for="DateContract"></label>
                <input asp-for="DateContract" class="form-control" placeholder="Date Contract" />
                <span asp-validation-for="DateContract" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DateEnd"></label>
                <input asp-for="DateEnd" class="form-control" placeholder="Date End" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CarId"></label>
                <input asp-for="CarId" class="form-control" placeholder="Car ID" />
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ContractDays"></label>
                <input asp-for="ContractDays" class="form-control" placeholder="Car ID" />
                <span asp-validation-for="ContractDays" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Car ID" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
            <a asp-controller="Contract" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to List
            </a>
        </div>
    </form>
</body>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
